html {
  scroll-behavior: smooth;
}

.titlePage {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: inherit;
  text-decoration: none;
  font-family: "Playwrite CU", cursive;
  font-weight: 200;
  margin-left: 10px;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.titlePageTwo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: inherit;
  text-decoration: none;
  font-family: "Playwrite CU", cursive;
  font-weight: 200;
  margin-left: 10px;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.titlePageThree {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: inherit;
  text-decoration: none;
  font-family: "Playwrite CU", cursive;
  font-weight: 200;
  margin-left: 10px;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.titlePage:hover {
  color: #d2b48c;
  text-shadow:
    -0.5px -0.5px 0 #4a3728,
    0.5px -0.5px 0 #4a3728,
    -0.5px 0.5px 0 #4a3728,
    0.5px 0.5px 0 #4a3728;
}
.titlePageTwo:hover {
  color: #cdc9a4;
  text-shadow:
    -0.5px -0.5px 0 #4a3728,
    0.5px -0.5px 0 #4a3728,
    -0.5px 0.5px 0 #4a3728,
    0.5px 0.5px 0 #4a3728;
}

.titlePageThree:hover {
  color: #f6a0a0;
  text-shadow:
    -0.5px -0.5px 0 #9f9594,
    0.5px -0.5px 0 #9f9594,
    -0.5px 0.5px 0 #9f9594,
    0.5px 0.5px 0 #9f9594;
}
.artDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}
.info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.credit {
  text-align: center;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

legend {
  font-family: "Inconsolata", monospace;
}

article {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

body {
  overflow-x: hidden;
}

#dateOne,
#dateTwo,
#dateThree,
.credit {
  font-family: "Abel", sans-serif;
}
nav ul li a,
nav ul li {
  color: inherit;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

body {
  background-color: antiquewhite;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

.artwork-image {
  position: relative;
  overflow: hidden;
}

.artwork-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:
    0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#artworkOne {
  height: 500px;
  width: 400px;
}

#artworkTwo {
  height: 200px;
  width: 500px;
}

#artworkThree {
  height: 400px;
  width: 700px;
}

body #magicMouseCursor {
  border: 1px solid black !important;
}
body #magicPointer {
  background: black !important;
}
* {
  cursor: none !important;
}

/* PAGE TWO */
.impressionism {
  font-family: "Playwrite CU", cursive;
  font-weight: 200;
}

.impressionismLegend {
  font-family: "Quicksand", sans-serif;
}

#artworkFour {
  height: 400px;
  width: 600px;
}

#artworkFive {
  height: 400px;
  width: 600px;
}

#artworkSix {
  height: 600px;
  width: 500px;
}

#pageTwo {
  background-color: rgb(254, 251, 213);
}

.zoom-container {
  position: relative;
  display: inline-block;
}

.zoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

.zoomed.active {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.zoomed img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  transform: scale(0.5);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.zoomed.active img {
  transform: scale(1);
  opacity: 1;
}

#mysvg {
  transition: transform 0.1s ease-out;
  position: fixed;
  margin: 0px;
  padding: 0px;
}

/* PAGE THREE */

#artworkSeven {
  height: 400px;
  width: 600px;
}
#artworkEight {
  height: 600px;
  width: 300px;
}

#artworkNine {
  height: 600px;
  width: 400px;
}
.japan {
  font-family: "Marcellus", serif;
}

#japanFlex {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  justify-content: flex-end;
  align-items: center;
}
#titleEight {
  margin-left: 30px;
}

.hoverable-artwork:hover {
  transform: scale(1.02);
}

.hoverable-artwork:hover .artwork-image::after {
  opacity: 1;
}

.hoverable-artwork {
  position: relative;
  transition: transform 0.3s ease;
}

#pageThree {
  background-color: rgb(88, 25, 25);
  color: whitesmoke;
}

/* SVG BASE ID, did not change it */
#Layer_2 {
  margin: 5px;
}
