.titlePage {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px; /* Reduced width */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  text-decoration: none;
}

.artDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}
.info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.credit {
  text-align: center;
}

article {
  display: flex;
  justify-content: center;
}

img {
  width: 30%;
  height: 30%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
