.titlePage {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px; /* Reduced width */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: inherit;
  text-decoration: none;
  font-family: "Abel", sans-serif;
}

.artDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}
.info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.credit {
  text-align: center;
}

h1 {
  font-family: "Oswald", sans-serif;
}

legend {
  font-family: "Inconsolata", monospace;
}

article {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

img {
  width: 30%;
  height: 30%;
}

body {
  overflow-x: hidden;
}

#dateOne,
#dateTwo,
#dateThree,
.credit {
  font-family: "Abel", sans-serif;
}
nav ul li a,
nav ul li {
  color: inherit;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
[data-barba="container"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
